/*Let's make sure that the dimensions of any box includes its border and padding, this gives us an easy way of sizing our elements*/
* {
    box-sizing: border-box;
}

/*style the container*/
.container{
    background-color: #07575B;
    height: 200px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}

/*style divs inside the container*/
.container > div{
    background-color: #66a5AD;
    color: aliceblue;
    text-align: center;
    padding: 20px;
    margin: 1px;
    border: 3px #C4DFE6 solid;
}






#facebook{
    font-size: 10px;
}